<!-- <p>emicalculator works!</p>

<div>
    <h1>
        {{title}}
    </h1>
    <br>
    <tr>
        <td>Amount:</td>
        <td><input type="number" name="P" [(ngModel)]="P"></td>
    </tr>
    <tr>
        <td>Duration:</td>
        <td><input type="number" name="R" [(ngModel)]="R"></td>
    </tr>
    <tr>
        <td>Interest Rate:</td>
        <td><input type="number" name="N" [(ngModel)]="N"></td>
    </tr>

    <button (click)="calculate()">Calculate EMI</button>

    <tr>
        <h1>EMI Result: {{E}}</h1>
    </tr>
    
</div> -->



<h1>Josten Fernandes</h1>