<!-- <form #detailForm="ngForm" (ngSubmit)="saveDetail(detailForm)">
    <table>
        <tr>
            <td>Application ID</td><td> <input type="text" name="appid" ngModel> </td>
        </tr>
        <tr>
            <td>First Name</td><td> <input type="text" name="firstName" ngModel> </td>
        </tr>
        <tr>
            <td>Last Name</td><td> <input type="text" name="lastName" ngModel> </td>
        </tr>
        <tr>
            <td>DOB</td><td> <input type="text" name="dob" ngModel> </td>
        </tr>
        <tr>
            <td>Gender</td><td> <input type="text" name="gender" ngModel> </td>
        </tr>
        <tr>
            <td>Mobile</td><td> <input type="text" name="mobileNo" ngModel> </td>
        </tr>
        <tr>
            <td>Email</td><td> <input type="text" name="mailId" ngModel> </td>
        </tr>
        <tr>
            <td>Address</td><td> <input type="text" name="address" ngModel> </td>
        </tr>
        <tr>
            <td>State</td><td> <input type="text" name="state" ngModel> </td>
        </tr>
        <tr>
            <td>City</td><td> <input type="text" name="city" ngModel> </td>
        </tr>
        <tr>
            <td>Pincode</td><td> <input type="text" name="princode" ngModel> </td>
        </tr>
        <tr>
            <td>Adhar Crad</td><td> <input type="text" name="adhar" ngModel> </td>
        </tr>
        <tr>
            <td>Pan Card</td><td> <input type="text" name="pan" ngModel> </td>
        </tr>


        <tr>
            <td><input type="reset" value="RESET"></td>
            <td> <input type="submit" value="SAVE"> </td>
        </tr>
    </table>
</form> -->



<!-- <section class="vh-100 gradient-custom">
    <form #detailForm="ngForm" (ngSubmit)="saveDetail(detailForm)">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase mb-5">Personal Details</h2>
      
                    <div class="form-outline form-white mb-4">
                      <input type="text" id="typeEmailX" class="form-control form-control-lg" name="appid" ngModel/>
                      <label class="form-label" >Application Id</label>
                    </div>
    
                    <div class="form-outline form-white mb-4">
                        <input type="text" id="typeEmailX" class="form-control form-control-lg" name="firstName" ngModel />
                        <label class="form-label" >First Name</label>
                      </div>
    
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typeEmailX" class="form-control form-control-lg" name="lastName" ngModel/>
                        <label class="form-label" >Last Name</label>
                      </div>
      
                    <div class="form-outline form-white mb-4">
                      <input type="date" id="typePasswordX" class="form-control form-control-lg" name="dob" ngModel/>
                      <label class="form-label" >DOB</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="text" id="typePasswordX" class="form-control form-control-lg" name="gender" ngModel/>
                        <label class="form-label" >Gender</label>
                      </div>

                      <div class="form-outline form-white mb-4">
                        <input type="number" id="typePasswordX" class="form-control form-control-lg" name="mobileNo" ngModel/>
                        <label class="form-label" >Mobile</label>
                      </div>

                    <div class="form-outline form-white mb-4">
                        <input type="email" id="typePasswordX" class="form-control form-control-lg" name="mailId" ngModel/>
                        <label class="form-label" >Email</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="text" id="typePasswordX" class="form-control form-control-lg" name="address" ngModel/>
                        <label class="form-label" >Address</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="text" id="typePasswordX" class="form-control form-control-lg" name="state" ngModel/>
                        <label class="form-label" >State</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="text" id="typePasswordX" class="form-control form-control-lg" name="city" ngModel/>
                        <label class="form-label" >City</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="number" id="typePasswordX" class="form-control form-control-lg" name="pincode" ngModel/>
                        <label class="form-label" >Pincode</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="number" id="typePasswordX" class="form-control form-control-lg" name="adhar" ngModel/>
                        <label class="form-label" >Adhar Card</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="number" id="typePasswordX" class="form-control form-control-lg" name="pan" ngModel/>
                        <label class="form-label" >Pan Card</label>
                    </div>
      
                    <button class="btn btn-outline-light btn-lg px-5 me-5" type="submit">Submit</button>
                    <button class="btn btn-outline-light btn-lg px-5" type="reset">Reset</button>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
      </section> -->





      <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Application Form</h2>
                </div>
                <div class="card-body">
    
                    <form #detailForm="ngForm" #checkForm="ngForm" (ngSubmit)="saveDetail(detailForm)" (ngSubmit)="personelDetails(checkForm.value)">
    
                        <!--Personel Details-->
                        <div class="mb-4">
                            <h2 style="text-align: center; font-weight: 600;">Personel Details</h2>
                        </div>
                        
                        <!--<div class="form-row">
                            <div class="name">Application ID</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" id="appid" name="appid" required
                                    #appid="ngModel" placeholder="Enter your Application ID" minlength="2" maxlength="10" pattern="^[0-9]+$" ngModel>
                                <span *ngIf="appid.invalid && appid.touched" style="color: red;">
                                Please enter a valid input </span><br>
                                </div>
                            </div>
                        </div>-->
    
                        <div class="form-row">
                            <div class="name">First name</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" id="firstName" name="firstName" required #firstName='ngModel'  placeholder="Enter your First name" 
                                    minlength="3" maxlength="10" pattern="^[a-zA-Z]+$" ngModel>
                                <span *ngIf="firstName.invalid && firstName.touched" style="color: red;">
                                    Please enter a valid input </span><br>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Last name</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" id="lastName" name="lastName" required #lastName='ngModel'  placeholder="Enter your Last name" 
                                    minlength="3" maxlength="10" pattern="^[a-zA-Z]+$" ngModel>
                                <span *ngIf="lastName.invalid && lastName.touched" style="color: red;">
                                    Please enter a valid input </span><br>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-row">
                            <div class="name">DOB</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="date" id="dob" name="dob" required #dob='ngModel'  ngModel>
                                <span *ngIf="dob.invalid && dob.touched" style="color: red;">
                                    Please enter a valid input </span><br> 
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Gender</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" id="gender" name="gender" required #gender='ngModel'  placeholder="Enter your gender" 
                                     pattern="^[a-zA-Z]+$" ngModel>
                                <span *ngIf="gender.invalid && gender.touched" style="color: red;">
                                    Please enter a valid input </span><br>
                                </div>
                            </div>
                        </div>
                            
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" id="mailId" name="mailId" required mailId #mailId='ngModel' placeholder="Enter your yor email" 
                                    ngModel>
                                </div>
                            <span *ngIf="!mailId.valid && mailId.touched" style="color: red;">
                            Please enter a valid input </span><br>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Mobile No</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5"  id="mobileNo" name="mobileNo" required #mobileNo='ngModel' placeholder="Enter your Mobile Number" pattern="[0-9]{10}" maxlength="10" ngModel>
                                </div>
                            <span *ngIf="mobileNo.invalid && mobileNo.touched" style="color: red;">
                            Please enter a valid input </span><br> 
                            </div>
                        </div>
    
                        <div class="form-row">
                            <div class="name">Address</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" id="address" name="address" required #address='ngModel'  placeholder="Enter your Address" 
                                    minlength="3" maxlength="10" pattern="^[a-zA-Z]+$" ngModel>
                                <span *ngIf="address.invalid && address.touched" style="color: red;">
                                    Please enter a valid input </span><br>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="name">State</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" id="state" name="state" required #state='ngModel'  placeholder="Enter your state" 
                                    minlength="3" maxlength="10" pattern="^[a-zA-Z]+$" ngModel>
                                <span *ngIf="state.invalid && state.touched" style="color: red;">
                                    Please enter a valid input </span><br>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">City</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" id="city" name="city" required #city='ngModel'  placeholder="Enter your city" 
                                    minlength="3" maxlength="10" pattern="^[a-zA-Z]+$" ngModel>
                                <span *ngIf="city.invalid && city.touched" style="color: red;">
                                    Please enter a valid input </span><br>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Pin Code</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5"  id="princode" name="princode" required #princode='ngModel' placeholder="(Ex: 581456)" pattern="[0-9]{6}" minlength="3" maxlength="6" ngModel>
                                </div>
                            <span *ngIf="princode.invalid && princode.touched" style="color: red;">
                            Please enter a valid input </span><br> 
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Adhar Card</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5"  id="adhar" name="adhar" required #adhar='ngModel' placeholder="Enter your Adhard card number" pattern="[0-9]{12}" minlength="5"maxlength="12" ngModel>
                                </div>
                            <span *ngIf="adhar.invalid && adhar.touched" style="color: red;">
                            Please enter a valid input </span><br> 
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Pan Card</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5"  id="pan" name="pan" required #pan='ngModel' placeholder="(Ex: ACZHF4562K) " pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" minlength="5"maxlength="10" ngModel>
                                </div>
                            <span *ngIf="pan.invalid && pan.touched" style="color: red;">
                            Please enter a valid input </span><br> 
                            </div>
                        </div>
    
                        <div class="text-center">
                            <button [disabled]="checkForm.invalid" class="btn btn--radius-2 btn--red " type="submit">
                                Submit
                            </button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
