<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<h2>Vehicle App</h2>
<hr>
<div>
  <a routerLink="/adddetails" class="btn btn-success">Application Form</a>
  <a routerLink="/showall" class="btn btn-info">Show All Details</a>
</div>
<br>

<div>
    <a routerLink="/addEmployee" class="btn btn-success">Employment Form</a>
    <a routerLink="/showEmployee" class="btn btn-info">Show All Details</a>
  </div>
  <br>

<div>
    <a routerLink="/addVehicle" class="btn btn-success">Vehicle Details Form</a>
    <a routerLink="/showVehicle" class="btn btn-info">Show All Details</a>
  </div>
  <br>

<div>
    <a routerLink="/addLoanDetails" class="btn btn-success">Loan Details Form</a>
    <a routerLink="/showLoanDetails" class="btn btn-info">Show All Details</a>
  </div>

<br>
<hr>

 

<router-outlet></router-outlet> 


