


<!-- Carousel wrapper -->
<div
  id="carouselMultiItemExample"
  class="carousel slide carousel-dark text-center"
  data-mdb-ride="carousel"
>

  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="m-5">
            <h1>Our Vehicle Loan Schemes</h1>
        </div>
        <div class="row m-5" style="background-color: #EDEFF1;">
         
            <div class="card col-lg-4 p-3 m-5">
              <img
                src="/assets/images/carloan.png"
                class="card-img-top"
                alt="Waterfall"
              />
              </div>
              <div class="card-body col-lg-6 m-4">
                <h1 class="card-title">Car Loan</h1>
                <h4 class="card-text" style="text-align: left;">
                    Avail the best deals for owning your dream car
                    With quick approval and attractive interest rates
                </h4>
                <div class="mt-lg-3">
                    <h5 style="text-align: left;">1. Easy loan Application process.</h5>
                    <h5 style="text-align: left;">2. Minimal and easy documentatiopn.</h5>
                    <h5 style="text-align: left;">3. Loan sanction in two days.</h5>
                </div>
                <button routerLink="/checkeligibility" class="main-btn mt-lg-2 float-start">Apply Now</button>
            
          </div>
        </div>

          <div class="row m-5" style="background-color: #EDEFF1;">
         
            <div class="card col-lg-4 p-3 m-5">
              <img
                src="/assets/images/BikeLoan.webp"
                class="card-img-top"
                alt="Waterfall"
              />
              </div>
              <div class="card-body col-lg-6 m-4">
                <h1 class="card-title">Two-Wheeler Loan</h1>
                <h4 class="card-text" style="text-align: left;">
                    Avail the best deals for owning your dream car
                    With quick approval and attractive interest rates
                </h4>
                <div class="mt-lg-3">
                    <h5 style="text-align: left;">1. Easy loan Application process.</h5>
                    <h5 style="text-align: left;">2. Minimal and easy documentatiopn.</h5>
                    <h5 style="text-align: left;">3. Loan sanction in two days.</h5>
                </div>
                <button routerLink="/checkeligibility" class="main-btn mt-lg-2 float-start">Apply Now</button>
              </div>
            
          </div>

          <div class="row m-5" style="background-color: #EDEFF1;">
         
            <div class="card col-lg-4 p-3 m-5">
              <img
                src="/assets/images/rikshaw.png"
                class="card-img-top"
                alt="Waterfall"
              />
              </div>
              <div class="card-body col-lg-6 m-4">
                <h1 class="card-title">Three-Wheeler Loan</h1>
                <h4 class="card-text" style="text-align: left;">
                    Avail the best deals for owning your dream car
                    With quick approval and attractive interest rates
                </h4>
                <div class="mt-lg-3">
                    <h5 style="text-align: left;">1. Easy loan Application process.</h5>
                    <h5 style="text-align: left;">2. Minimal and easy documentatiopn.</h5>
                    <h5 style="text-align: left;">3. Loan sanction in two days.</h5>
                </div>
      
                <button routerLink="/checkeligibility" class="main-btn mt-lg-2 float-start">Apply Now</button>
              
              </div>
            
          </div>

          



        
      </div>
    </div>


</div>
<!-- Carousel wrapper -->
